<!-- FIXME: Make title show on top of the button -->
<a href="#topNav" class="backToTopLink" id="Top"
    title="Back to the top">
<span class="backToTopIcon"><div class="container-fluid backToTop text-center align-content-center"> <i
        class="fas fa-arrow-up"></i>
  </div>
</span></a>