<footer class="footer  container-fluid">
  <div class="row">
    <ul class="nav nav-pills nav-fill col-12 mt-2">
      <li class="nav-item text-center col-sm-2 col-md-1 mx-auto rounded bg-white shadow-lg p-0 "><a
          href="#" class="nav-link">Link</a></li>
      <li class="nav-item text-center col-sm-2 col-md-1 mx-auto rounded bg-white shadow-lg p-0 "><a
          href="#" class="nav-link">Link</a></li>
      <li class="nav-item text-center col-sm-2 col-md-1 mx-auto rounded bg-white shadow-lg p-0 "><a
          href="#" class="nav-link">Link</a></li>
      <li class="nav-item text-center col-sm-2 col-md-1 mx-auto rounded bg-white shadow-lg p-0 "><a
          href="#" class="nav-link">Link</a></li>
    </ul>
    <p class="col-xs-4 px-2 mt-2 mx-auto text-center bg-white clearfix">
      &copy; Copyright 2019
    </p>
  </div>
</footer>