<!-- TODO: add bg-color and hover -->
<footer class="footer container-fluid row mx-auto rounded mt-4">
    <p class="col-xs-4 px-2 mt-2 mx-auto text-center rounded ">
      &copy; Copyright 2019
    </p>
</footer>