<!-- Projects listed in tabs/pills -->

<!-- FIXME: set static size(height?!) to card -->
<!-- Cards container -->
<div class="container-fluid" id="projSection">
  <div class="card-deck justify-content-between">
    <!-- Card #1 -->
    <span class="border border-dark box-shadow my-3 card">
      <div class="card-body ">
      <img src="https://picsum.photos/200/?gravity=east" alt="Img PlaceHolder"
          class="card-img-top figure-img float-left mr-2">
          <h5 class="card-title">Zeek(Bro) IDS</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">Analyzes all network traffic in depth,
            recognizing and reporting suspicious activities.</p>
      </div>
          <a href="#" class="btn btn-sm border border-dark act-btn">Details</a>
    </span>
    <!-- Card #2 -->
    <span class="border border-dark box-shadow my-3 card">
        <div class="card-body  ">
      <img src="https://picsum.photos/200/?gravity=west" alt="Img PlaceHolder"
          class="card-img-top figure-img float-left mr-2">
          <h5 class="card-title">Central Log Server</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">Syslog-ng server daemon receives logs from
            remote hosts. Splunk analyzes and parses the logs by Hosts and
            pertinent information. </p>
        </div>
          <a href="#" class="btn btn-sm border border-dark act-btn">Details</a>
    </span>

    <span class="border border-dark box-shadow my-3 card">
        <div class="card-body  ">
      <img src="https://picsum.photos/200/?random" alt="Img PlaceHolder"
          class="card-img-top figure-img float-left mr-2">
          <h5 class="card-title ">PiHole - Proxy+AdBlocker</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">RaspberryPi 3B running PiHole as a network
            proxy. PiHole then detects known advertisement DNS and responds
            with a fake DNS.</p>
        </div>
          <a href="#" class="btn btn-sm border border-dark act-btn">Details</a>
    </span>
  </div>
</div>