<!-- Projects listed in tabs/pills -->

<!-- Cards container -->
<div class="container-fluid" id="projSection">
  <div class="row justify-content-around card-group ">
    <!-- Card #1 -->
    <span class="col-xs-9 col-sm-5 col-md border-dark box-shadow h-100 my-3 mx-2 card">
      <img src="https://picsum.photos/200/?gravity=east" alt="Img PlaceHolder"
          class="card-img-top img-fluid p-0 mt-2">
        <div class="card-body pt-1 pb-3 px-0 col">
          <h5 class="card-title">Zeek(Bro) IDS</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">Analyzes all network traffic in depth,
            recognizing and reporting suspicious activities.</p>
          <a href="#" class="btn btn-sm border border-dark ">Details</a>
        </div>
    </span>
    <!-- Card #2 -->
    <span class="col-xs-9 col-sm-5 col-md border-dark box-shadow h-100 my-3 mx-2  card">
      <img src="https://picsum.photos/200/?gravity=west" alt="Img PlaceHolder"
          class="card-img-top img-fluid p-0 mt-2">
        <div class="card-body pt-1 pb-3 px-0 col">
          <h5 class="card-title">Central Log Server</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">Syslog-ng server daemon receives logs from
            remote hosts. Splunk analyzes and parses the logs by Hosts and
            pertinent information. </p>
          <a href="#" class="btn btn-sm border border-dark ">Details</a>
        </div>
    </span>

    <span class="col-xs-9 col-sm-5 col-md border-dark box-shadow h-100 my-3 mx-2 card">
      <img src="https://picsum.photos/200/?random" alt="Img PlaceHolder"
          class="card-img-top img-fluid p-0 mt-2">
        <div class="card-body pt-1 pb-3 px-0 col">
          <h5 class="card-title">PiHole - Proxy+AdBlocker</h5>
          <p class="card-text " data-toggle="tooltip" title="Click the Details button to load this project's page "
            data-placement="top">RaspberryPi 3B running PiHole as a network
            proxy. PiHole then detects known advertisement DNS and responds
            with a fake DNS.</p>
          <a href="#" class="btn btn-sm border border-dark ">Details</a>
        </div>
    </span>
  </div>
</div>