<!-- Projects listed in tabs/pills -->

<div class="card-group justify-content-center row w-100 border border-white p-0 m-0" id="projSection">
  <!-- Cards Start Here -->
  <span class="col-xs-9 col-sm-3 col-md-3 col-lg col-xl my-3 mx-xs-3 mx-sm-1 mx-md-1 mx-lg-1 mx-xl-5 border border-dark border-4 rounded">
    <div class="card row">
      <img src="https://picsum.photos/200/?gravity=east" alt="Img PlaceHolder" class="card-img-top rounded">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-success">Show me More</a>
      </div>
    </div>
  </span>
  <span class="col-xs-9 col-sm-3 col-md-3 col-lg col-xl my-3 mx-xs-3 mx-sm-1 mx-md-1 mx-lg-1 mx-xl-5 border border-dark border-4">
    <div class="card row">
      <img src="https://picsum.photos/200/?gravity=west" alt="Img PlaceHolder" class="card-img-top">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-success">Show me More</a>
      </div>
    </div>
  </span>
  <span class="col-xs-9 col-sm-3 col-md-3 col-lg col-xl my-3 mx-xs-3 mx-sm-1 mx-md-1 mx-lg-1 mx-xl-5 border border-dark border-4">
    <div class="card row">
      <img src="https://picsum.photos/200/?random" alt="Img PlaceHolder" class="card-img-top">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-success">Show me More</a>
      </div>
    </div>
  </span>
</div>