<!-- Projects listed in tabs/pills -->

<div class="container-fluid card-group justify-content-center w-100 p-0 m-0" id="projSection">
  <!-- Cards Start Here -->
  <span class="col-xs-9 col-sm-4 col-md-4 col-lg col-xl my-3 mx-xs-3 mx-sm-0 mx-md-0 px-md-3 mx-lg-1 mx-xl-5 border border-dark shadow-lg border-4 rounded">
    <div class="card row">
      <img src="https://picsum.photos/200/?gravity=east" alt="Img PlaceHolder" class="card-img-top img-fluid  rounded">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text "  data-toggle="tooltip" title="Click the Details button to load this projet's page " data-placement="top">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-secondary">Details</a>
      </div>
    </div>
  </span>
  <!-- Card #2 -->
  <span class="col-xs-9 col-sm-4 col-md-4 col-lg col-xl my-3 mx-xs-3 mx-sm-0 mx-md-0 px-md-3 mx-lg-1 mx-xl-5 border border-dark box-shadow shadow-lg border-4">
    <div class="card row">
      <img src="https://picsum.photos/200/?gravity=west" alt="Img PlaceHolder" class="card-img-top img-fluid ">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
          <p class="card-text "  data-toggle="tooltip" title="Click the Details button to load this projet's page " data-placement="top">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-secondary">Details</a>
      </div>
    </div>
  </span>

  <span class="col-xs-9 col-sm-4 col-md-4 col-lg col-xl my-3 mx-xs-3 mx-sm-0 mx-md-0 px-md-3 mx-lg-1 mx-xl-5 border border-dark box-shadow shadow-lg border-4">
    <div class="card row">
      <img src="https://picsum.photos/200/?random" alt="Img PlaceHolder" class="card-img-top img-fluid ">
      <div class="card-body col">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text "  data-toggle="tooltip" title="Click the Details button to load this projet's page " data-placement="top">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc et interdum turpis, id porta justo. Pellentesque pharetra
          aliquam nulla a venenatis. Praesent dictum.</p>
        <a href="#" class="btn btn-sm btn-secondary">Details</a>
      </div>
    </div>
  </span>
</div>