<nav class="navbar navbar-expand-lg navbar-dark bg-dark row ">

  <!-- BrandName -->
  <a class="navbar-brand d-inline col-xs col-sm-4 col-md" href="/">GregSoares.com</a>

  <!-- GitHub/LinkedIn Icons -->
  <div class="col-xs col-sm-2 col-md mx-auto p-0 my-2 text-center" id="topSocBtns">
    <a class="nav-link d-inline p-0 m-0" id="github" target="_blank" href="https://github.com/gregsoares/"
      rel="noopener"><i class="fab fa-github-square fa-2x"></i> </a>
    <a class="nav-link d-inline p-0 ml-sm-2 m-xs-0 my-0" id="linkedin" target="_blank"
      href="https://www.linkedin.com/in/greg-soares/" rel="noopener"> <i class="fab fa-linkedin fa-2x">
      </i></a>
  </div>

  <!-- TODO: Display buttons beside navbar-brand on small viewports -->
  <!-- Menu Button and collapsable -->
  <div class="col-xs col-sm-3 col-md text-center">
    <button class="navbar-toggler navbar-expand-md btn btn-small mx-auto" type="button"
      data-toggle="collapse" data-target="#topNavMenu"><span class="expand navbar-expand navbar-toggler-icon navbar-expand-md"></span>
      Menu</button>

    <!-- collapsable links -->
    <div class="navbar-item navbar-collapse collapse " id="topNavMenu">
      <span class="col my-0 mx-auto p-0 "><a href="/" class="nav-link" id="index"><i
            class="fas fa-home"></i>
          Home</a></span>
      <span class=" col my-0 mx-auto p-0 "><a href="#" class="nav-link">Web
          Development Projects</a></span>
      <span class=" col my-0 mx-auto p-0 "><a href="#" class="nav-link">Home
          Network</a></span>
      <span class=" col my-0 mx-auto p-0 "><a href="#" class="nav-link">Security
          Projects</a></span>
      <span class=" col my-0 mx-auto p-0 "><a href="#" class="nav-link">
          Contact Me</a></span>
      <span class=" col my-0 mx-auto p-0 "><a href="#" class="nav-link" id="resume">
          Resume(s)
          Download</a></span>
    </div>
  </div>
</nav>

<script async defer>
  // Grab and set the current page's links to active
  window.onload = () => {
    let targetElement = document.getElementById('<%= page %>');
    let currentAttribute = targetElement.getAttribute('class');
    targetElement.setAttribute('class', `${currentAttribute} active`);
  };
</script>