<!-- <hr class="p-0 mt-0 mb-2"> -->
<nav class="navbar navbar-nav navbar-expand-md navbar-dark bg-dark text-center"
  id="topNav" role="navigation">
  <div class="container-fluid">

  <!-- BrandName -->
  <div class="row">
    <div class="col">
        <a class="navbar-brand float-left" href="/">GregSoares.com</a>
    </div>
    <div class="col">
        <ul class="navbar-nav mx-auto" id="topSocBtns">
    <li class="nav-item">
          <a class="nav-link" id="github" target="_blank" href="https://github.com/gregsoares/"
      rel="noopener"><i class="fab fa-github-square fa-2x" alt="GitHub icon"></i></a>
    </li>
    <li class="nav-item">
          <a class="nav-link" id="linkedin" target="_blank" href="https://www.linkedin.com/in/greg-soares/"
      rel="noopener"> <i class="fab fa-linkedin fa-2x" alt="LinkedIn icon">
      </i></a>
    </li>
  </ul>
    </div>
  </div>
  <!-- GitHub/LinkedIn Icons -->

  <!-- Menu Button -->
  <button class="navbar-toggler navbar-expand-md btn btn-small" type="button"
    data-toggle="collapse" data-target="#topNavMenu"><span class="expand navbar-expand navbar-toggler-icon navbar-expand-sm"></span>
    Menu</button>

  <!-- collapsible links -->
  <div class="navbar-item navbar-collapse collapse justify-content-end" id="topNavMenu">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link" id="index"><i class="fas fa-home"></i>
          Home</a>
      </li>

      <!--
        <ul class="nav nav-tabs">
          <li class="nav-item"> <a class="nav-link" href="#">Active</a> </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle"
              data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"> Dropdown</a>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a> </div>
          </li>
        </ul> -->
      <!-- Projects Dropdown -->
      <li class="nav-item dropdown" id="projects">
        <a class="nav-link dropdown-toggle" href="#" id="topMenuDropdown" data-toggle="dropdown">
          Projects
        </a>
        <div class="dropdown-menu bg-secondary" aria-labelledby="topMenuDropdown">
          <!-- TODO: add WebDev header here -->
          <a href="/projects/gregsoares" class="dropdown-item">GregSoares.com</a>
          <a href="/projects/esucso" class="dropdown-item">ESU CSO</a>
          <!-- TODO: add divider and Networking header here -->
          <a href="/projects/proxy" class="dropdown-item">Proxy</a>
          <a href="/projects/NIDS" class="dropdown-item">NIDS</a>
          <a href="/projects/logServer" class="dropdown-item">Log Server</a>
        </div>
      </li>
      <li class="nav-item"><a href="/aboutme" class="nav-link" id="aboutMe">About
          Me</a></li>
    </ul>
  </div>
  </div>
</nav>
<hr class="p-0 mt-0 mb-2">
<script async defer>
  // Grab and set the current page's links to active
  window.onload = () => {
    let targetElement = document.getElementById('<%= page %>');
    let currentAttribute = targetElement.getAttribute('class');
    targetElement.setAttribute('class', `${currentAttribute} active`);
  };
</script>