<nav class="row navbar navbar-expand-sm navbar-light bg-secondary p-2 mb-3 rounded ">
  <div class="col-xs-8 col-sm-4 col-md">
    <a class="navbar-brand" href="/">GregSoares.com</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggledSection" aria-controls="toggledSection" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>Menu
  </button>

  <!-- TODO: Group icons together, and put them out of Toggle Button (align center) -->
  <div class="mx-auto collapse navbar-collapse" id="toggledSection">
    <ul class="navbar-nav col">
      <li class="nav-item btn col">
        <i class="fab fa-github-square fa-3x"></i>
        <a class="nav-link" id="github" target="_blank" href="https://github.com/gregsoares/"rel="noopener"></a></i>
      </li>
      <li class="nav-item btn col">
        <i class="fab fa-linkedin fa-3x">  <a class="nav-link" id="linkedin" target="_blank" href="https://www.linkedin.com/in/greg-soares/" rel="noopener"></a></i>
      </li>
      <li class="nav-item btn col ">
        <!-- TODO: group Home+Projects together and align right -->
        <a class="nav-link" id="index" href="/" rel="noopener">Home </a>
      </li>
      <li class="nav-item btn dropdown col ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown projects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="nids" href="/nids">NIDS - RaspberryPi</a>
          <a class="dropdown-item" id="nas" href="#">NAS Server</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="webdev" href="#">Web Develpment</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

    <script>
      // IIFE - Grab and set the current page's links to active
      (()=> {
        let targetElement = document.getElementById('<%= page %>');
        let currentAttribute = targetElement.getAttribute('class');
        targetElement.setAttribute('class', `${currentAttribute} active`);
      })();

    </script>