
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <section class="navbar-brand"><a href="/">GregSoares.com</a>
  </section>

  <!-- Nav Icons -->
  <section class="row mx-auto align-content-center" id="topSocBtns" >
    <a class="nav-item btn col">
      <i class="fab fa-github-square fa-3x"></i>
      <a class="nav-link" id="github" target="_blank" href="https://github.com/gregsoares/"
          rel="noopener"></a>
      </a>
      <a class="nav-item btn col">
        <i class="fab fa-linkedin fa-3x"> </i><a class="nav-link" id="linkedin"
            target="_blank" href="https://www.linkedin.com/in/greg-soares/" rel="noopener"></a>
      </a>
  </section>
  <!-- expanding links -->
  <section class="col topMenuLinks mx-auto">
    <button class="navbar-toggler navbar-expand-md" type="button" data-toggle="collapse" data-target="#topNavMenu"><span class="expand navbar-expand navbar-toggler-icon navbar-expand-md"></span> Menu</button>
    <!-- collapsable links -->
    <ul class="navbar-nav navbar-collapse collapse mx-auto" id="topNavMenu">
      <li class="nav-item"> <a href="/" class="nav-link"><i class="fas fa-home" ></i> Home</li></a>
      <li class="nav-item"><a href="/" class="nav-link">Web Development Projects</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Home Network</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Security Projects</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Contact Me</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Resume(s) Download</a></li>
    </ul>
  
  </section>
</nav>

<script>
  // IIFE - Grab and set the current page's links to active
  (() => {
    let targetElement = document.getElementById('<%= page %>');
    let currentAttribute = targetElement.getAttribute('class');
    targetElement.setAttribute('class', `${currentAttribute} active`);
  })();
</script>