@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* TODO: update topMenuBtn */
.topMenuBtn {
  @apply shadow-sm;
  @apply px-2;
  @apply py-4;
  @apply rounded-sm;
  @apply my-0;
  @apply transition-shadow;
}
.brand-darkBlue {
  background-image: linear-gradient(to right, #141720, #142831);
  /* background-image: linear-gradient(#2d4059); */
}
.brand-lighterBlue {
  background-image: linear-gradient(to right, #1c2b3d, #1b303a);
  /* background-image: linear-gradient(#2d4059); */
}
.brand-lightBlue {
  background-image: linear-gradient(to right, #113852, #123752);
  /* background-image: linear-gradient(#2d4059); */
}
.brand-blue-gradient {
  background-image: linear-gradient(to right, #163456, #173a60);
}

.bg-mobilenav {
  background-image: linear-gradient(to right, #142844, #152e4d);
}

.bg-topnav {
  background-image: linear-gradient(to right, #12223b, #142844, #152e4d);
}
