@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

.topMenuBtn {
  @apply shadow-sm;
  @apply px-2;
  @apply py-4;
  @apply rounded-sm;
  @apply my-0;
  @apply transition-shadow;
}
.bg-feature-one {
  background-image: linear-gradient(
    to right,
    #33339f,
    #3642ad,
    #3851bb,
    #3c5fc9,
    #406ed6
  );
}

.bg-feature-two {
  background-image: linear-gradient(
    to right,
    #12223b,
    #142844,
    #152e4d,
    #163456,
    #173a60
  );
}
@responsive {
  .h-10 {
    height: 10vh;
  }

  .h-20 {
    height: 20vh;
  }

  .h-30 {
    height: 30vh;
  }

  .h-40 {
    height: 40vh;
  }

  .h-50 {
    height: 50vh;
  }

  .h-60 {
    height: 60vh;
  }

  .h-70 {
    height: 70vh;
  }

  .h-80 {
    height: 80vh;
  }

  .h-90 {
    height: 90vh;
  }
}
