<!DOCTYPE html>
<html lang="en">

<!-- Importing headers -->
  <% include partials/headers.ejs %>

<body>
  <!-- Importing top navigation menu -->
  <section id="topNav">
    <% include partials/topNav.ejs %>
  </section>
<!-- Friendly error message -->
<section class="main-content" id="Body">
  <div id="main-content">Oopsie, I made a mistake.
    <span class="display-4">
      <p class="display-2">More about error message here</p>
    </span>
  </div>
</section>
  

</body>
</html>