<!DOCTYPE html>
<html lang="en">

<!-- Importing headers -->
  <% include partials/headers.ejs %>

<body>
  <!-- Importing top navigation menu -->
  <section id="topNav">
    <% include partials/topNav.ejs %>
  </section>
<!-- Friendly error message -->
<section class="main-content text-center " id="Body">
  <p class="border border-radius-2 mb-0 mt-3 mx-auto col-4"> Oopsie, I made a mistake.
  </p>
  <a class="btn border btn-sm mx-auto mt-0" href="/" alt="Take me Home">Take me Home</a>
</section>
  

</body>
</html>