<!DOCTYPE html>
<html lang="en">
<!-- Importing headers -->
<% include partials/headers.ejs %>

<body class="container-fluid" id="Body ">
  <!-- Importing Top Navigation Bar -->
  <% include partials/topNav.ejs %>

  <!-- Content Section -->
  <div class="row mx-auto" id="mainContent">

    <!-- Jumbotron - top CTA to Resume -->
    <div class="jumbotron rounded text-center col-12 mx-auto" id="indexTopJumbotron">
      <h2 class="">Things about me you wont find on my resume.</h2>
      <p class="lead">I find that properly understanding the problem is a major step in finding the solution. The part that I enjoy is getting to know the system in which the problem occurs so well that the solution should become just as clear as the problem itself. </p>
      <hr class="my-4" />
      <p></p>
      <!-- TODO: customize color and hover on Resume button -->
      <!-- TODO: add Resume file for download/view -->
      <a class="btn act-btn btn-lg" href="#" role="button">Resume</a>
    </div>

  </div>

  <!-- Project Section -->
  <% include partials/projectSection.ejs %>

  <!-- Footer -->
  <% include partials/footer.ejs %>

  <!-- Back To Top button -->
  <% include partials/backToTop.ejs %>


</body>

</html>