<!DOCTYPE html>
<html lang="en">
<!-- Importing headers -->
<% include partials/headers.ejs %>

<body class="container-fluid" id="Body ">
  <!-- Importing Top Navigation Bar -->
  <% include partials/topNav.ejs %>

  <!-- Content Section -->
  <div class="row mx-auto" id="mainContent">

    <!-- Jumbotron - top CTA to Resume -->
    <div class="jumbotron rounded text-center col-12 mx-auto" id="indexTopJumbotron">
      <p class="display-4">404: Brain Not Found.</p>
      <p class="lead">
        This is not an error, it is a common occurrence, otherwise known as
        a condition.
      </p>
      <hr class="my-4" />
      <p>More Information to be found somewhere(over the rainbow?!)</p>
      <!-- TODO: customize color and hover on Resume button -->
      <a class="btn btn-primary btn-lg" href="#" role="button">Resume</a>
    </div>

  </div>

  <!-- Project Section -->
  <% include partials/projectSection.ejs %>

  <!-- Footer -->
  <% include partials/footer.ejs %>

</body>

</html>