<!DOCTYPE html>
<html lang="en">
<!-- Importing headers -->
<% include partials/headers.ejs %>

<body class="container-fluid" id="Body">
  <!-- Importing Top Navigation Bar -->
  <% include partials/topNav.ejs %>

  <!-- Content Section -->
  
  <!-- Import Proj1 -->
  <!-- Import Proj2 -->
  <!-- Import Proj3 -->
  <!-- Import Proj4 -->
  <!-- Import Proj5 -->

  <!-- Import Footer -->
  <% include partials/footer.ejs %>

</body>

</html>