

/* Responsive Typography - Better accessibility */
@media (max-width: 575px) {
  /* xs */
  html {
  }
  /* .card {
    align-self: center;
    max-width: 80vw;
  }
  .card-img-top {
    max-width: 75vw;
    padding: 0em 1em 0em 1em;
    align-self: center;
  } */
}

@media (min-width: 576px) {
  /* sm */
  html {
  }
  /* .card {
    align-self: center;
    max-width: 80vw;
  } */
}

@media (min-width: 768px) {
  /* md */
  html {
  }
}

@media (min-width: 992px) {
  /* lg */

  html {
  }
  /* .card {
    box-shadow: .3em .3em 1.2em black;
    max-width: 22vw;
  } */
}

@media (min-width: 1200px) {
  /* xl */

  html {
  }
}
