*,
::before,
::after {
  transition: all ease-in-out 250ms;
}

html {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-size: 100%;
}

body {
  background-color: #2b3b41;
  font-size: 90%;
}

nav div ul li.nav-item {
  margin: 0em 2em;
}

#indexTopJumbotron,
#projSection {
  background-color: #324e58;
}

/* TopNav */
/* nav.navbar a.nav-link {
}
nav.navbar a.nav-link:hover {
} */

/* Cards */

.card-img-top {
  max-width: 25vw;
  box-shadow: -.2em -.2em .1em black;
  align-self: center;
}
.card-img-top:hover {
  box-shadow: .3em .3em .1em black;
  padding: 0;
  max-width: 100%;
}
/* Card buttons */
.card .btn {
  background-color: #6e9da3;
  font-variant: small-caps;
  font-weight: 600;
  box-shadow: 1px 2px 2px black;
}

.card .btn:hover {
  background-color: #66b4be;
  font-variant: small-caps;
  font-weight: 700;
  box-shadow: 0.3em 0.3em 0.2em black;
}

.footer {
  background-color: rgb(50, 78, 88);
}

/* Footer buttons */
a.btn,
footer a.nav-link {
  color: #2e0f02;
  background-color: rgb(102, 180, 190);
}

/* Back to top icon */

.backToTopIcon .backToTop {
  position: sticky;
  width: 2em;
  left: 90%;
  bottom: 1%;
  background-color: rgb(52, 105, 129);
  color: black;
  z-index: 9;
  box-shadow: -1px -1px 1px black;
}

/* Responsive Typography - Better accessibility */
@media (max-width: 575px) {
  /* xs */
  html {
  }
  .card {
    align-self: center;
    max-width: 80vw;
  }
  .card-img-top {
    max-width: 75vw;
    padding: 0em 1em 0em 1em;
    align-self: center;
  }
}

@media (min-width: 576px) {
  /* sm */
  html {
  }
  .card {
    align-self: center;
    max-width: 80vw;
  }
}

@media (min-width: 768px) {
  /* md */
  html {
  }
}

@media (min-width: 992px) {
  /* lg */

  html {
  }
  .card {
    box-shadow: .3em .3em 1.2em black;
    max-width: 22vw;
  }
}

@media (min-width: 1200px) {
  /* xl */

  html {
  }
}
