#root {
    scrollbar-arrow-color: aqua;
    scrollbar-highlight-color: black;

}

body::-webkit-scrollbar {
    width: .75rem;
}

body::-webkit-scrollbar-track {
    background: rgb(34,171,200);
    background: rgba(34,171,200,.51);
}

body::-webkit-scrollbar-thumb {
    background: rgba(50, 100, 130, 1);
}