/* #root {
  scrollbar-arrow-color: aqua;
  scrollbar-highlight-color: black;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background: rgba(69, 113, 140, 1);
} */
